*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
:root{
    font-size: 62.5%;
}

.content{
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ." 
    ;
    gap: 8.5rem;
}

main{
    grid-area: form;
}

aside{
    grid-area: hero;
}

aside img{
    width: 55.9rem;
    height: 45.7rem;
}
aside h1{
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.5rem;
    text-align: end;
}

aside h1 span{
    color: #b0c4c2;
}

main {
width: 60rem;
height: 52rem;
border: 0.1rem solid rgba(0, 0, 0, 0.15);
padding:4.4rem 5.7rem; 
border-radius: 1.2rem;

}

main h2{
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
}

main h2 span{
    color: #8b8390;
}

main .botoes{
    display: flex;
    flex-flow: column wrap;
}

main .botoes a{
    height: 5.5rem;
    font-size: 2.4rem;
    text-decoration: none;
    border-radius: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .botoes a:first-child{
    background-color:  #cfded9;
    margin-top: 5.4rem;
}

main .botoes a:last-child{
    margin-top: 4.8rem;
    background-color: #b0c4c2;
}

main p{
    text-align: center;
    margin-top: 8rem;
    font-size: 1.6rem;
}
main a{
    color: black;
    text-align: center;
    margin-top:1rem;
    font-size: 1.8rem;
    display: block;
}